{% extends 'school/homebase.html' %}


{% block content %}

<br>
<br>

<div class="jumbotron" style="margin-bottom:0px;">
  <h1 class="display-4"><strong>Admin Login Panel</strong></h1><br><br>
  <p class="lead">Welcome to the School of Computing and Information Technology Admin Page</p><br>
  <hr class="my-4">
    <br>
  <p>Please select any to continue...</p><br>
  <p class="lead">
    <a class="btn btn-danger btn-lg" href="adminsignup" role="button">Sign Up</a><br><br><br>
    <a class="btn btn-success btn-lg" href="adminlogin" role="button">Login</a>
  </p>
</div>

{% endblock content %}
